
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f172a;
    position: sticky;
    /* Stick nav element on top */
    top: 0;

}

nav .title {

    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    font-family: "Cinzel", serif;
    font-size: 20px;
    font-weight: bold;
    color: gold;
    letter-spacing: 3px;
    text-shadow: 3px 3px 10px rgb(218, 175, 175);

}

nav ul {
    display: flex;
}

nav ul.open {
    display: flex;
}

nav ul li {
    list-style: none;  /*Remove bulltin */
}

nav ul li a {
    display: block;
    text-decoration: none;
    /* no underline */
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    color: white;
}

nav ul li a:hover {
    background-color: blue;
}

nav ul li a.active {
    background-color: rgb(173, 82, 82);
}

nav .hamburger {
    cursor: pointer;
     display: none; /* hidden on desktop */
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
    position: absolute; /* place hamburger in exact place */
    top: 0.85rem;
    right: 0.5rem;
}

nav .hamburger span {

    width: 100%;
    height: 0.3rem;
    background-color: white;
    border-radius: 0.2rem;
}
/* Responsive grid for tablets and phones */
@media (max-width: 480px) {
    nav .hamburger {
        display: flex;
    }

    nav {
        flex-direction: column;  /* vertical menu */
        align-items: start;      /* moves item to left */
    }

    nav ul {
        display: none;       /* hide menu */
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        margin: 0.2rem 0.5rem;
    }

}