.quiz-page .button-group {
    display: flex;
    gap: 10px;
}

.quiz-page .button {
    font-size: medium;
    border-radius: 5px;
    background-color: rgb(158, 81, 226);
}


.quiz-dialog {
    width: 350px;
    padding: 25px;
    border-radius: 15px;
    border: none;
    text-align: center;
    background: white;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    font-size: 18px;
}

.quiz-dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}


.quiz-dialog p {
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
}


.loading-container {
    text-align: center;
    margin: 20px;
}


.book-spinner {
    font-size: 50px;
    animation: bookRotate 1s infinite;
}


@keyframes bookRotate {

    0% {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateY(360deg);
    }

}